<div style="padding:10px; background-color: #ffffff; width:100%; margin:10px 0 0 0;">
    <p>Hey,</p>
    <p>We have received an order from  {{ customer.get_first_name.capitalize }}, of email {{ customer.email }} and phone no {{ shipping.mobile_no }} </p>
    <p>The customer has ordered the following items</p>
    <table style="font-family:'Helevetica Neue', 'Helvetica', 'Arial', 'sans-serif'; font-size:13px; border-collapse: collapse; border: 1px solid black;"
    width="90%" cellspacing="0" cellpadding="0">
    <tr>
        <th></th>
        <th style="border: 1px solid black;">Item</th>
        <th style="border: 1px solid black;">Quantity</th>
        <th style="border: 1px solid black;">Price</th>
      </tr>
        {% for item in items %}
        <tr width="100%">
            <td style="width:25%; border: 1px solid #000; text-align: center; padding:10px; vertical-align: bottom;"><img style="width: 3.5rem;height:3.5rem; border-radius: 0.5rem;" src="{{protocol}}://{{ current_site.domain }}{{item.product.thumb.url}}"></td>
            <td style="width:25%; border: 1px solid #000; text-align: center; padding:10px; vertical-align: bottom;">{{item.product.name.capitalize}}</td>
            <td style="width:25%; border: 1px solid #000; text-align: center; padding:10px; vertical-align: bottom;">{{ item.quantity }}</td>
            <td style="width:25%; border: 1px solid #000; text-align: center; padding:10px; vertical-align: bottom;">{{ item.get_total }}</td>
        </tr>
        {% endfor %}
        <tr>
            <th></th>
            <th></th>
            <th style="border: 1px solid black;">Sub Total</th>
            <th style="border: 1px solid black;">{{cart.get_cart_total}}</th>
        </tr>
        {% if shipping_or_pickup == "shipping"%}
        <tr>
            <th></th>
            <th></th>
            <th style="border: 1px solid black;">Shipping cost</th>
            <th style="border: 1px solid black;">{{cart.get_shipping_amount}}</th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th style="border: 1px solid black;">Total</th>
            <th style="border: 1px solid black;">{{cart.get_shipping_n_cart_total}}</th>
        </tr>
        {% else %}
        <tr>
            <th></th>
            <th></th>
            <th style="border: 1px solid black;">Pickup cost</th>
            <th style="border: 1px solid black;">{{cart.get_pickup_amount}}</th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th style="border: 1px solid black;">Total</th>
            <th style="border: 1px solid black;">{{cart.get_pickup_n_cart_total}}</th>
        </tr>
        {% endif %}
    </table>
    <br>
    {% if shipping_or_pickup == "shipping"%}
        <p>The have choosen to have the item delivered to the following location.</p>
        <p><strong>{{shipping_or_pickup_info.city_town_area.capitalize}}</strong></p>
        <p><strong>{{shipping_or_pickup_info.street_lane_other.capitalize}}</strong></p>
        <p><strong>{{shipping_or_pickup_info.apartment_suite_building.capitalize}}</strong></p>
    {% else %}
        <p>They have choosen to pickup the item. </p>
        <p><strong>Pickup is only available in Nairobi CBD at the following location,</strong></p>
        <p><strong>The Bazaar plaza, 7th floor</strong></p>
        <p><strong>Crystal Suites</strong></p>
        <p><strong>Suite 702</strong></p>
    {% endif %}
    <br>
    <p>Thank you,</p>
</div>