{% extends "main.html" %}

{% load static %}

{% load custom_filters %}

{% block content %}
    <div class="container checkout-wrapper">
        <div class="info-wrapper address">
            <h3>Shipping information</h3>
            <form id="shipping-info-form" method="POST" class="checkout-form">
                {% csrf_token %}
                <div class="address">
                    {% if not request.user.is_authenticated %}
                        <h3 class="small">All fields are required</h3>
                    {% else %}
                        <h3 class="small">We auto filled your info, just select delivery or pickup</h3>
                    {% endif %}
                    <hr>
                    <!-- personal info -->
                    <div class="personal-info">
                        {% if not request.user.is_authenticated %}
                        <div class="name">
                            <div class="name-labels mobile_hidden">
                                {{ form.firstname.label_tag }}
                                {{ form.lastname.label_tag }}
                            </div>
                            <div class="name-inputs">
                                {{ form.firstname.label_tag }}
                                {{ form.firstname }}
                                {{ form.lastname.label_tag }}
                                {{ form.lastname }}
                            </div>
                        </div>
                        <div class="email-phone">
                            <div class="email-labels mobile_hidden">
                                {% comment %} <span id="email-or-phone-error"></span> {% endcomment %}
                                {{ form.email.label_tag }}
                                {{ form.mobile_no.label_tag }}
                            </div>
                           <div class="email-mobile-inputs">
                                {{ form.email.label_tag }}
                                {{ form.email }}
                                {{ form.mobile_no.label_tag }}
                                {{ form.mobile_no }}
                            </div> 
                        </div>
                        {% else %}
                        <div class="name">
                            <div class="name-labels mobile_hidden">
                                <label>First name*</label>
                                <label>Last name*</label>
                            </div>
                            <div class="name-inputs">
                                <label>First name*</label>
                                <input type="text" name="firstname" value="{{user.first_name|title}}" id="id_firstname" disabled required>
                                <label>Last name*</label>
                                <input type="text" name="lastname" value="{{user.last_name|title}}" id="id_lastname" disabled required>
                            </div>
                        </div>
                        <div class="email-phone">
                            <div class="email-labels mobile_hidden">
                                <span id="email-or-phone-error"></span>
                                <label>Email*</label>
                                <label>Mobile no*</label>
                            </div>
                           <div class="email-mobile-inputs">
                             <span id="m-email-error"></span>
                                <label>Email*</label>
                                <input type="email" name="email" maxlength="255" id="id_email" value="{{ user.email }}"  disabled  required>
                               <span id="m-mobile-error"></span>
                               <label>Mobile no*</label>
                                <input type="text" name="mobile_no"  id="id_mobile_no" value="{{user.customer.addresses.first.mobile_no}}" disabled required>
                            </div> 
                        </div>
                        {% endif %}
                    </div>
                </div>
                <!-- shipping options -->
                <div class="address">
                    <h3 class="small">Select Delivery or Pickup</h3>
                    <hr>
                    <div class="shipping-or-pickup">
                        <label class="label-radio" for="shipping">
                            <input type="radio" name="shipping_or_pickup" id="shipping" value="shipping" required>Delivery
                        </label>
                        <label class="label-radio" for="pickup">
                            <input type="radio" name="shipping_or_pickup" id="pickup" value="pickup">Pickup
                        </label>
                    </div>
                </div>
                <div class="pickup-info address">
                    <h3 class="small">Pickup is only available in Nairobi CBD at the following location</h3><hr>
                    <ul>
                        <li>The Bazaar plaza, 7th floor</li>
                        <li>Crystal Suites</li>
                        <li>Suite 702</li>
                    </ul>
                </div>
                {%if request.user.is_authenticated %}
                <div class="shipping-info address">
                    <h3 class="small">Select Address</h3><hr>
                    <div class="shipping-or-pickup">
                        <label class="label-radio" for="address_on_file">
                            <input type="radio" name="delivery_method" id="address_on_file" value="address_on_file" required>Deliver to address on file
                        </label>
                        <label class="label-radio" for="set_new_address">
                            <input type="radio" name="delivery_method" id="set_new_address" value="set_new_address">Set new delivery address
                        </label>
                    </div>
                </div>
                <div class="address-on-file address">
                    <h3 class="small">Address on file</h3><hr>
                    {% with address=user.customer.addresses|get_default_address %}
                    <ul>
                        <li id="address_region">{{ address.region|title }}</li>
                        <li id="address_area" data-address_area_id={{address.area.id}}>{{ address.area|title }}</li>
                        <li id="address_street">{{ address.street_lane_other|title }}</li>
                        <li id="address_apartment">{{ address.apartment_suite_building|title }}</li>
                    </ul>
                    {% endwith %}
                </div>
                <div class="set-new-address address">
                    <h3 class="small">Set new delivery address</h3><hr>
                    {% include 'components/new_address.html'%}
                </div> 
                {% else %}
                    <div class="shipping-info address">
                        <h3 class="small">Use the fields below to be descriptive as possible</h3>
                        <hr>
                        {% include 'components/new_address.html'%}
                    </div>
                {% endif %}
                <div class="p-btn">
                    <button type="submit" class="btn-c continue" id="continue-btn">Continue</button>
                </div>
            </form>
        </div>
        <div class="order-summary-wrapper address">
            <h3>Cart summary - you have  ({{ cart.get_cart_items }})
                item{{cart.get_cart_items|pluralize}} in the cart.
            </h3><hr>
            <div class="order-summary-holder">
                {% for item in items %}
                    <div class="item-holder">
                        <div class="summary-name item">{{item.product_entry.title.capitalize}}</div>
                        <div class="summary-image item"><img src="{{item.product_entry.image_set.all.first.thumb.url}}"></div>
                        <div class="summary-quantity item">{{ item.quantity }}</div>
                        <div class="summary-total item">{{ item.get_total }}</div>
                    </div>
                {% endfor %}
                <div class="sub_total_n_shipping">
                    <p>Subtotal <strong class="strong">{{cart.get_cart_total}}</strong></p>
                    <div class="shipping-option" id="shipping_option"></div>
                </div>
                <div class="payment-method-wrapper">
                    <h3>Choose payment method</h3><hr>
                    <div class="payment-method">
                        <div class="mpesa_banner">
                            <p>Right now we are only offering mpesa but more options coming soon.</p>
                            <p class="standout">A prompt will be sent to your mpesa phone</p>
                            <img src="{% static 'images/mpesa_banner.png' %}" alt="Mpesa Banner">
                        </div>
                        <div class="p-btn">
                            <button id="pay-btn" class="btn pay">Place Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <script src="{% static 'js/page/checkout.js' %}" type="module"></script>
    <script src="{% static 'js/page/profile.js' %}"></script>
{% endblock content %}