{% extends "main.html" %}

{% load static %}

{% block content %}
    <div class="container checkout-wrapper">
        <div class="info-wrapper">
            <form action="" id="shipping-info-form" method="POST" class="checkout-form">
            <h4>Personal Information </h4>
            <small>All fields marked with an asterisk (*) are required</small>
            <hr>
            <div class="personal-info">
                {% if not request.user.is_authenticated %}
                <div class="name">
                    <div class="name-labels mobile_hidden">
                        <label>First name*</label>
                        <label>Last name*</label>
                    </div>
                    <div class="name-inputs">
                        <label>First name*</label>
                        <input type="text" name="first_name" value="{{user.first_name}}">
                        <label>Last name*</label>
                        <input type="text" name="last_name" value="{{user.last_name}}">
                    </div>
                </div>
                {% endif %}
                <div class="email-phone">
                    <div class="email-labels mobile_hidden">
                        <label>Email*</label>
                        <label>Mobile no*</label>
                    </div>
                    <div class="email-mobile-inputs">
                        <label>Email*</label>
                        <input type="email" name="email" value="{{user.email}}">
                        <label>Mobile no*</label>
                        <input type="text" name="mobile_no" placeholder="+254712345678">
                    </div>
                </div>
            </div>
            <h4>Select if you want it delivered to you or pickup</h4>
            <hr>
            <div class="shipping-or-pickup">
                <label class="label-radio" for="shipping">
                    <input type="radio" name="shipping-or-pickup" id="shipping" value="shipping">Delivery
                </label>
                <label class="label-radio" for="pickup">
                    <input type="radio" name="shipping-or-pickup" id="pickup" value="pickup">Pickup
                </label>
            </div>
            <h4>Delivery / Pickup Information</h4>
            <hr>
            <div class="pickup-info">
                <p>Pickup is only available in Nairobi CBD</p>
                <p>That comes with a small cost of <strong>Kes 200</strong></p>
            </div>
            <div class="shipping-info">
                <label>City / Town / Area *</label>
                <input type="text" name="city_town_area" placeholder="Mombasa or Kisumu, or Embakasi Village">
                <label>Street / Lane address / Other </label>
                <input type="text" name="street_lane_other" placeholder="Kijabe st or Valley lane or Juja Gate B">
                <label>Apartment / Suite / Building</label>
                <input type="text" name="apartment_suite_building" placeholder="Edmerc hse no 1001 or Ebenezer rm 202">
            </div>
            <div class="p-btn">
                <button type="submit" class="btn continue" id="continue-btn">Continue</button>
            </div>
            </form>
            <div class="payment-method-wrapper">
                <h4>Choose payment method</h4><hr>
                <div class="payment-method">
                    <div class="mpesa_banner">
                        <p>Right now we are only offering mpesa but more options coming soon.</p>
                        <p class="standout">A prompt will be sent to your mpesa phone</p>
                        <img src="{% static 'images/mpesa_banner.png' %}" alt="Mpesa Banner">
                    </div>
                    <div class="p-btn">
                        <button class="btn pay">Pay &nbsp;&nbsp;({{cart.get_cart_total}})</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="order-summary-wrapper">
            <h1>Cart summary - you have  ({{ cart.get_cart_items }})  items</h1><hr>
            <div class="order-summary-holder">
                {% for item in items %}
                    <div class="item-holder">
                        <div class="summary-image item"><img src="{{item.product.thumb.url}}"></div>
                        <div class="summary-name item">{{item.product.name}}</div>
                        <div class="summary-quantity item">{{ item.quantity }}</div>
                        <div class="summary-total item">{{ item.get_total }}</div>
                    </div>
                {% endfor %}
                <div class="sub_total_n_shipping">
                    <p>Sub Total = <strong>{{cart.get_cart_total}}</strong></p>
                    <p>Shipping = <strong>0</strong> </p>
                </div>
                <div class="summary-subtotal">Total  </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        let form = document.getElementById('shipping-info-form');
        let pay_button = document.querySelector('.pay');
        let total = "{{ cart.get_cart_total }}";
        let url = '/cart/process_order/';

        form.addEventListener('submit',(e)=>{
            e.preventDefault();
            console.log('form submitted');
            document.querySelector('.continue').classList.add('hidden');
            document.querySelector('.payment-method-wrapper').style.display = "block";
        })

        pay_button.addEventListener('click', ()=>{
            submitFormData();
        })

        function submitFormData(){
            let personalInfo = {
                "first_name":null,
                "last_name":null,
                "email":null,
                "total":total
            }

            let shippingInfo = {
                "city_town_area":null,
                "street_lane_other":null,
                "apartment_suite_building":null,
                "mobile_no":null
            }

            if( user == "AnonymousUser"){
                personalInfo.first_name = form.first_name.value
                personalInfo.last_name = form.last_name.value
                personalInfo.email = form.email.value
                shippingInfo.mobile_no = form.mobile_no.value
                shippingInfo.apartment_suite_building = form.apartment_suite_building.value
                shippingInfo.street_lane_other = form.street_lane_other.value
                shippingInfo.city_town_area = form.city_town_area.value
            }
            else{
                shippingInfo.mobile_no = form.mobile_no.value
                shippingInfo.apartment_suite_building = form.apartment_suite_building.value
                shippingInfo.street_lane_other = form.street_lane_other.value
                shippingInfo.city_town_area = form.city_town_area.value
            }


            fetch(url, {
                    method:'POST',
                    headers:{'Content-Type': 'application/json', 'X-CSRFToken': csrftoken },
                    body:JSON.stringify({'personal_info':personalInfo, 'shipping_info': shippingInfo })
                })
                    .then((response) =>{
                    return response.json();
                    })
                    .then((data) =>{
                    alert('Transaction completed');

                    cart = {};
			        document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/";
                    
                    window.location.href = "{% url 'products:list' %}";
                })

        }

    </script>
{% endblock content %}