<div style="padding:10px;">
    <p>Hey {{ user.first_name.capitalize }},</p>
    <br>
    <p>Welcome to {{ current_site.domain }}, you have successfully created an account,
    to start shopping with us, please click on the link below to verify 
    your email and activate your account.</p>
    <br>
    <a style="
    background-color:#000;
    border:none;
    text-decoration: none;
    color: #fff;
    width:50%;
    border-radius: 1.5rem;
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    padding:10px;
    margin-left: 37.5%;
    margin-bottom: 10px;
    "
    href="{{ activation_link }}">verify  email</a>
    <br>
    <p>Cheers & all the best,</p>
    <p>Sofia Team.</p>
</div>
