{% extends 'main.html' %}

{% block content %}
<div class="container new-password-wrapper">
    <div class="form_container">
        <h4 class="form_header">Create new password</h4>
        <form action="" method="POST" class="auth_form" id="new-password-form">
          {% csrf_token %}
          {% for field in form %}
              {{ field }}
            {% endfor %}
          <button type="submit" class="btn">Update password</button>
        </form>
      </div>
</div>
{% endblock content %}