<div style="padding:10px;">
    <p>Hey {{ user.first_name.capitalize }},</p>
    <br>
    <p>You have received this email, because you requested a password reset link on
        {{ current_site }}, click on the link below to set a new password, if you
        did not place this request, please ignore this email.
    </p>
    <br>
    <a style="
    background-color:#000;
    border:none;
    text-decoration: none;
    color: #fff;
    width:50%;
    border-radius: 1.5rem;
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    padding:10px;
    margin-left:37.5%;
    "
    href="{{ protocol }}://{{ current_site.domain }}{% url 'change' uidb64=uid token=token %}">Reset password</a>
    <br>
    <p>Cheers & all the best,</p>
    <p>Journaling Therapy Team.</p>
</div>