<div style="padding:10px;">
    <h3>Hey {{ user.first_name }},</h3>
    <h4>You have received this email, because you requested a password reset link on
        {{ current_site.domain }}, click on the link below to set a new password, if you
        did not place this request, please ignore this email.
    </h4>
    <a style="
    background-color:#000;
    border:none;
    text-decoration: none;
    color: #fff;
    width:50%;
    border-radius: 1.5rem;
    margin:5px auto;
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    padding:10px;
    "
    href="{{ protocol }}://{{ current_site.domain }}{% url 'change' uidb64=uid token=token %}">Reset password</a>
    <br/>
    <h4>Cheers & all the best,</h4>
    <h4>Journaling Therapy Team.</h4>
</div>