{% extends 'main.html' %}

{% load static %}

{% block content %}

{% include 'components/mobile_search.html' %}

    <div class="container">
        <h4 class="header account-overview-header">Account Information</h4>
        <div class="profile-dashboard">
            
            <!-- accounts links components -->
            {% include 'components/accounts_links.html' %}

            <div class="account-overview">
                {% if address %}
                <div class="personal-information">
                    <h6 class="header">Personal Information</h6>
                    <ul>
                        <label for="name">Name: </label>
                        <li id="name">{{ customer|title }}</li>
                        <label for="email">Email</label>
                        <li id="email">{{ customer.get_email }}</li>
                        <label for="mobile">Mobile no</label>
                        <li id="mobile">{{ address.mobile_no }}</li>
                    </ul>
                </div>
                <div class="address">
                    <h6 class="header">Address</h6>
                    <ul>
                        <label for="region">Region</label>
                        <li id="region">{{ address.region|title }}</li>
                        <label for="region">Area</label>
                        <li id="area">{{ address.area|title }}</li>
                        <label for="Street">Street / Lane / Other</label>
                        <li id="street">{{ address.street_lane_other|title }}</li>
                        <label for="apartment">Apartment / Building / Suite</label>
                        <li id="apartment">{{ address.apartment_suite_building|title }}</li>
                    </ul>
                </div>
                {% else %}
                    <div class="form_container address-form-container">
                        <h4 class="header">Add address information</h4>
                        <form
                        action="{% url 'customers:address' %}"
                        method="POST"
                        class="auth_form address_form"
                        id="address-form">
                        {% csrf_token %} 
                        {{ form }}
                        <button type="submit" class="btn" id="address-btn" id="save-address">
                            Save
                        </button>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="{% static 'js/page/profile.js' %}"></script>
{% endblock %}