@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
  /* remove colors not being used later*/

    --color-dark: #fa5f44;
    --color-black:#000000;
    --color-white:#ffffff;
    --color-gray: #3d3d3d;
    --color-light-gray: #969494;
    --color-success: #26bd26;
    --color-success-bg:#d4edda;
    --color-success-border:#26bd26;
    --color-error-bg:#f0a19c;
    --color-error-border:#e71809;
    --color-error: #e71809;
    --color-info-bg:#46A7F5;
    --color-info-border:#0362af;
    --color-warning-bg:#FFA92A;
    --color-warning-border:#c28222;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    font-size: inherit;
    font-family: 'Poppins', sans-serif;
  }
   body {
    line-height: 1.6;
    color: var(--color-black);
    background-color: var(--color-white);
    min-height: 100vh;
    padding-bottom:5rem;
    position: relative;
  }

  h2,h4{
    font-weight: bold;
    padding:0.3rem;
  }
   
  a {
    text-decoration: none;
  }
  img{
    width:100%;
    height:auto;
  }

  .btn{
    background-color: var(--color-black);
    border:none;
    text-decoration: none;
    color:var(--color-white);
    width:90%;
    border-radius: 1.5rem;
    margin:5px auto;
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    padding:10px;
  }
  .btn:hover{
    background-color: var(--color-gray);
    cursor:pointer;
  }

svg{
    fill:var(--color-white);
    width: 1.4rem;
    height:1.4rem;
  }

.container {
    width: 90%;
    margin:0 auto;
    border:1px solid var(--color-black);
    border-radius: 0.5rem;
    padding:0.5rem;
    margin-top:1rem;
  }

ul, li{
  list-style: none;
}

header{
  background-color: var(--color-black);
  color:var(--color-white);
  width:100%;
  top:0;
  position: sticky;
}
header > .container{
  margin-top:0rem;
  width:100%;
  padding:0;
}

.logo{
  display: inline-block;
  font-size: 16px;
  padding: 20px 10px;
}
.logo a{
  color: var(--color-white);
}
.mobile_cart{
  float: right; 
  padding: 20px 1px;
}
.hamb{
  cursor: pointer;
  float: right;
  padding: 30px 10px;
}
.search_form{
  display: none;
}
.mobile_search{
  width: 90%;
  margin:0.5rem auto;
}
.mobile_hidden, .desktop-menu, .hidden-header{
  display: none;
}

.mobile-menu{
  width:100%;
  background-color: var(--color-gray);
  overflow: hidden;
  max-height: 0;
  transition: max-height .5s ease-out;
}
.mobile-not-signed-in a, .mobile-signed-in a{
  display: block;
  padding:10px;
  color:var(--color-white);
  background-color: var(--color-gray);
}
.mobile-signed-in p{
   margin-left:10px;
}
.mobile-signed-in p > svg{
  display:none;
}
.mobile-signed-in svg{
    fill:var(--color-white);
    width: 1rem;
    height:0.8rem;
    margin-right:8px;
    display: inline-block;
    vertical-align: middle;
}

.hamb-line {
  background: var(--color-white);
  display: block;
  height: 3px;
  position: relative;
  width: 25px;
} 
.hamb-line::before,
.hamb-line::after{
  background: var(--color-white);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.hamb-line::before{
  top: 5px;
}
.hamb-line::after{
  top: -5px;
}
.side-menu {
  display: none;
}
.side-menu:checked ~ .mobile-menu{
  max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top:0;
}

.search > label {
  background-color:var(--color-white);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  border:1px solid var(--color-black);
}

.search svg {
  fill: var(--color-black);
  width: 1.2rem;
  height: 1.2rem;
  margin-left: 0.5rem;
}

.search input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: var(--color-black);
  font-size: 13px;
}
/* index page */

.single-category-grid{
  display:none;
}
.single-product-grid{
  padding:0.5rem;
  border-radius: 0.5rem;
  color:var(--color-black);
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:0.5rem;
  margin-top:0.4rem;
}
.product{
  justify-self: center;
  align-self: center;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 220px;/* might want to use auto later */
  overflow: hidden;
}
.product h2{
  font-weight: normal;
  color: var(--color-black);
  font-size:12px;
  padding:2px;
  overflow-wrap: normal;
}
.product h4{
  color:var(--color-black);
  font-weight: bold;
}
.product > img{
  height:7rem;
  max-width:100%;
  padding:0.2rem;
  border-radius: 0.5rem;
}
.product:hover {
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.5);
}
.product > button{
  width:70%;
  margin:5px auto;
  padding:0;
}

/* product  detail page */

.product-details{
  display: flex;
  flex-direction:column;
  gap:1rem;
}
.product-wrapper{
  display:flex;
  flex-direction:column;
  border-radius: 0.5rem;
  padding:0.5rem;
  text-align: center;
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
}

.product-image > img{
  max-width:100%;
  padding:0.2rem;
  border-radius: 0.5rem;
}
.product-information{
  padding:1rem;
  border-radius: 0.5rem;
  font-size: 14px;
  height:fit-content;
}
.product-information p{
  font-size: 14px;
}
.price{
  padding:0.3rem;
  font-weight: bold;
}
.action-buttons > a{
  display: block;
  margin-top:1rem;
  font-size:12px;
}
.action-buttons > .btn{
  width: 55%;
}
.action-buttons{
  margin:1rem 0;
}
/* cart page */

.cart-wrapper{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.cart-header{
  display:flex;
  flex-direction: row;
  font-size: 14px;
  justify-content: space-between;
  font-weight: bold;
  border-bottom: 1px solid var(--color-gray);
}
.cart-header > div{
  width:23%;
  text-align: center;
}
.cart-items{
  border-radius: 0.5rem;
  margin-bottom:1rem;
  padding:0.5rem;
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
}

.continue-btn svg{
  display:none;
  height:1rem;
  width: 1 rem;
  fill:var(--color-white);
  position:relative;
  top:3px;
}

.item{
  margin-top:0.1rem;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}
.item > div{
 width:23%;

}

.mobile_hidden_details{
  display:none;
}

.cart-item-image > img{
  width: 3.5rem;
  height:3.5rem;
  border-radius: 0.5rem;
}
.cart-summary{
  padding:0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 14px;
  height:fit-content;
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
}
.cart-summary h1{
  margin-bottom:0.5rem;
}
.cart-summary p{
  margin-bottom: 0.5rem;
  text-align: justify;
}

.remove-from-cart{
  padding:0.2rem;
  font-size:12px;
  width:30%;
  background-color: var(--color-black);
}

.remove-from-cart svg{
  height:0.6rem;
  width: 0.6rem;
  fill:var(--color-white);
}
  .increase-decrease-items{
    display: flex;
    flex-direction: column;
    justify-content :center;
    align-items: center;
  }

.increase-items, .reduce-items, .item-quantity{ 
  padding:0.1rem;
  width:50%;
}
.item-quantity{
  background:none;
  border:none;
}
.increase-items:hover, .reduce-items:hover{
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.5);
}
.increase-items{
  background-color: var(--color-success);
  border: none;
  border-radius: 1.5rem;
}

.reduce-items{
  background-color: var(--color-dark);
  border: none;
  border-radius: 1.5rem;
}
/* checkout page */
.checkout-wrapper{
  display:flex;
  flex-direction: column;
  gap:2rem;
  font-size: 14px;
}
small{
  text-align: center;
  display: block;
  font-size: small;
}
.info-wrapper, .order-summary-wrapper{
  display:flex;
  flex-direction: column;
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding:1rem;
}
.item-holder{
  display: none;
}
.personal-info, .shipping-info{
  margin-bottom: 0.5rem;
  padding:0.5rem;
}
.label-radio{
  padding:5px;
  display: block;
}
.label-radio > input[type="radio"]{
    display: inline-block;
    vertical-align: middle;
    width:10%;
    margin-bottom: 0;
}
.label-radio > label{
    display: inline-block;
    vertical-align: middle;
}
.shipping-or-pickup{
  margin-bottom: 0.5rem;
}
.shipping-or-pickup p{
  text-align: center;
}
.shipping-info, .pickup-info{
  display:none;
}
.pickup-info.show{
  display:block;
  padding:0.5rem;
}
.shipping-info.show{
  padding:0.5rem;
  display:flex;
  flex-direction: column;
}
.name-inputs, .email-mobile-inputs{
  width:100%;
  display: block;
  margin-bottom:0.2rem;
}
.checkout-form  input{
  padding:0.5rem;
  width:100%;
  border-radius: 0.5rem;
  border:1px solid var(--color-black);
  margin-bottom: 0.5rem;
}
.checkout-form label{
  font-weight: bold;
}
.mpesa_banner{
  margin:0 auto;
  text-align: center;
  margin-bottom:1rem;
}
.mpesa_banner > img{
  width:30%;
}
.standout{
  color:var(--color-dark);
  font-weight: bold;
  margin:0.5rem;
}
.payment-method p{
  margin: 0.5rem;
  text-align: center;
}
.pay{
  background-color: #fa5f44;
  width: 80%;
}
.p-btn{
  display:flex;
  justify-content: center;
  align-items: center;
}
.continue{
  margin-top:1rem;
  width: 60%;
}
.payment-method-wrapper{
  display:none;
}
.hidden{
  display:none;
}
.sub_total_n_shipping{
   padding:0.5rem;
   font-size: larger;
}

/* notfication messages */

.messages{
  margin:0.5rem auto;
  width:90%;
  text-align:center;
  font-size:14px;
}
.messages .success{
  background-color: var(--color-success-bg);
  border:2px solid var(--color-success-border);
  list-style: none;
  padding:0.5rem;
  border-radius: 0.5rem;
}

.messages .error{
  background-color: var(--color-error-bg);
  border:2px solid var(--color-error-border);
  border-radius: 0.5rem;
  list-style: none;
  padding:0.5rem;
}

.messages .info{
  background-color: var(--color-info-bg);
  border:2px solid var(--color-info-border);
  border-radius: 0.5rem;
  list-style: none;
  padding:0.5rem;
}

.messages .warning{
  background-color: var(--color-warning-bg);
  border:2px solid var(--color-warning-border);
  border-radius: 0.5rem;
  list-style: none;
  padding:0.5rem;
}



/* search page */

.not-found{
  display: block;
  padding:0.5rem;
}

.not-found p{
  text-align: center;
  margin-bottom:2rem;
}
.not-found svg{
  margin-top:1.5rem;
  fill:var(--color-black);
  height:6rem;
  width:6rem;
}
.search-btn{
  width:100%;
  color:var(--color-white);
  padding:0.5rem;
}
/* signin page */

.signin-wrapper, .password-reset-wrapper, .new-password-wrapper{
  border:none;
  min-height: 80vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.signup-wrapper{
  border:none;
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form_container{
  max-width: 100%;
  width: 400px;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.form_header{
  text-align:center;
  padding:1rem;
  background-color: var(--color-black);
  color:var(--color-white);
}
.auth_form{
  padding:2rem;
}
.auth_form > input{
  margin-bottom: 0.5rem;
  padding:0.5rem;
  width:100%;
  border-radius: 0.5rem;
  border:1px solid var(--color-black);
}
.auth_form > .btn{
  margin-top:1.5rem;
  width:100%;
}

.auth_action{
  text-align: center;
  margin-bottom: 1.5rem;
}
.auth_action p{
  margin-bottom: 10px;
}

.auth_action  a{
  color:var(--color-dark);
}

.auth_action a:hover{
  color:var(--color-gray);
}

/* cart badge */
.cart::after{
  content:attr(data-item);
  background-color: var(--color-error);
  border-radius: 22px;
  padding:0 5px;
  width: 16px;
  height: 16px;
  position:relative;
  left:-21px;
  top:-16px;
  color: var(--color-white);
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  font-weight: 400;
  }

  /* footer styling   */

  footer{
    background-color: var(--color-black);
    color: var(--color-white);
    height:4rem;
    padding: 0.6rem;
    position:absolute;
    bottom:0;
    width: 100%;
    text-align: center;
    font-size: 14px;
  }
  footer a{
    color:var(--color-dark)
  }
  footer a:hover{
    color:var(--color-gray);
  }
  footer svg{
    fill:var(--color-white);
  }
  /* form validations */

  .error-span{
    display:none;
    border:1px solid var(--color-error);
    font-size: 12px;
    color: var(--color-error);
    padding: 4px;
    margin: 5px auto;
    border-radius: 0.5rem;
  }
  .error-span.show{
    display: block;
  }
  
  .check-email > *, .verification-sucess > *, .verification-failed > *{
    padding:10px;
    margin:10px;
    text-align: center;
  }
  

@media (min-width: 480px) {
  .logo{
    font-size:17px;
  }
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
    gap:1rem;
  }
  .search input{
    font-size:14px;
  }
  .product{
    height:auto;
  }
  .product h2{
    font-size:14px;
  }
  .product > img{
    height:8rem;
    max-width:100%;
    padding:0.25rem;
  }

  .action-buttons > .btn{
    width: 50%;
  }
  
  /* product details page */

  .product-image > img{
    max-height:70%;
    max-width:70%;
  }
  .product-information > button{
    width:55%;
  }

  /* cart page */

  .cart-items > .btn{
    width:45%;
  }

  .cart-summary > a{
    width:45%;
  }

  /* checkout page */
  .name-inputs > label, .email-mobile-inputs > label{
    width:100%;
    display: block;
  }
  .checkout-form  input{
    width:70%;
  }

  .pay{
    width:60%;
  }
  
}

@media (min-width: 768px) {
    /* navigation */
    .desktop-menu{
      display: inline-block;
      margin-left:48%;
    }
    .dropdown {
      position: relative;
      display: inline-block;      
    }
    .dropdown  svg{
      display: inline-block;
      vertical-align: middle;
      width: 1rem;
      height:1.2rem;
      margin-right:15px;
    }
    .dropdown-button {
      background: transparent;
      color: var(--color-white) ;
      border: 0;
      outline: 0;
      cursor: pointer;
      padding: 18px 10px;
      position: relative; 
      display:inline-block;
    }
    .dropdown-button p:hover svg{
      fill:var(--color-dark);
    }
    .dropdown-button p:hover{
      color:var(--color-dark);
    }
    .desktop-cart{
      display: inline-block;
      vertical-align: middle;
    }
    .desktop-cart:hover svg{
      fill:var(--color-dark);
    }
    .not-signed-in{
      display: inline-block;
      margin-right:15px;
    }
    .not-signed-in a{
      color:var(--color-white);
      margin-right:15px;
    }
    .not-signed-in a:hover{
      color: var(--color-dark);
  }
    .dropdown-content {
      margin-top:3%;
      display: none;
      position: absolute;
      background: var(--color-dark);
      min-width: 160px;
      overflow: auto;
      box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
      border-radius: 0.5rem;
      right: 0;
      z-index: 1;
    }
    .dropdown-content.show{
      display:block;
    }
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    .dropdown-content  svg{
      fill:var(--color-black);
    }
    .dropdown a:hover svg {
      fill:var(--color-white);
    }
    .dropdown a:hover 
    {
      background-color:var(--color-gray);
      color:var(--color-white);
    }
    

    .hamb{
        display: none;
    }
    .logo{
      font-size:17px;
    }
    .logo a:hover{
      color: var(--color-dark);
    }
    .mobile_cart{
      display:none;
    }
    .search_form{
      display: none;
    }
  
    /* home page */

    .single-category-grid{
      display:block;
      padding:0.5rem;
      border-radius: 0.5rem;
      box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
      margin-bottom: 0.5rem;
    }

    .single-product-grid{
      box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
    }

    .category-grid{
      display:grid;
      grid-template-columns: repeat(4, 1fr);
      gap:0.5rem;
    }

    .category{
      border-radius: 2.5rem; 
      box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      background-color: var(--color-gray);
      text-align: center;
      height: 5rem;
      width: 10rem;
      color:var(--color-white);
      font-weight: normal;
    }
    .product-grid {
      grid-template-columns: repeat(5, 1fr);
      gap:1rem;
    }
    .product > img{
      height:8rem;
    }
    .product:hover, .category:hover{
      box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.5);
    }
    
    .action-buttons > .btn{
      width: 60%;
    }

    /* product  detail page */

    .product-details{
      display: flex;
      gap:2%;
      flex-direction: row;
    }
    .product-wrapper{
      flex-basis: 70%;
      display:flex;
      flex-direction: row;
      gap:2rem;
    }
    .product-image{
      flex-basis: 60%;
    }
    .product-image > img{
      max-height:100%;
      max-width:100%;
    }
    .product-information{
      flex-basis: 50%;
    }
    .product-information > button{
     width: 100%;
    }
    .price{
      padding:1rem;
      font-weight: bold;
    }

    /* search page */

    .not-found svg{
      margin-top:1.6rem;
      height:7rem;
      width:7rem;
    }
    .not-found p{
      font-size:1.1rem;
    }

  /* cart page */

  .cart-wrapper{
    display: flex;
    gap:2%;
    flex-direction: row;
  }

  .cart-items{
    flex-basis: 73%;
    border-radius: 0.5rem;
  }
  .cart-item-image > img{
      width: 8rem;
      height: 8rem;
      border-radius: 0.5rem;
  }
  .increase-items, .reduce-items, .item-quantity{ 
    width:30%;
  } 
  .cart-summary{
      flex-basis: 28%;
    }
    .remove-from-cart{
      padding:0.3rem;
      width:13%;
      margin-bottom: 0.5rem;
    }

    .remove-from-cart svg{
      height: 0.8em;
      width: 0.8rem;
    }
    .action-buttons > .continue-btn{
      width: 30%;
      float: right;
    }
    
    .continue-btn svg{
      height:1.4rem;
      width: 1.4rem;
      top:6px;
    }

/* checkout page */

.checkout-wrapper{
  flex-direction: row;
}
.info-wrapper{
  flex-basis:50%;
}
.info-wrapper form{
  margin-bottom:3rem;
}
.order-summary-wrapper{
  display: block;
  flex-basis:50%;
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding:1rem;
  height:fit-content;
}
.name-labels, .name-inputs, .email-labels, .email-mobile-inputs{
  display: flex;
  flex-direction: row;
  gap:2rem;
}
.checkout-form  input{
  width:50%;
}
.checkout-form  label{
  width:50%;
}
.name-inputs > label, .email-mobile-inputs > label{
  display: none;
}
.checkout-form textarea{
  resize:none;
  width:100%;
  border-radius: 0.5rem;
  border:1px solid var(--color-black);
  padding:0.5rem;
}

.item-holder{
  margin:0.5rem 0;
  display: flex;
  gap:2rem;
  border-bottom: 1px solid var(--color-black);
}
.item{
  flex-basis:20%;
}
.summary-image > img{
  width: 5rem;
  height: 5rem;
  border-radius: 0.5rem;
}
.mobile-product-view{
    display:none;
  }

  .shipping-info > input{
    width:100%
  }

  /* cart badge */
  .cart::after{
    left:-25px;
    }

}

@media (min-width:1024px) {
  .search_form{
    display: inline-block;
    margin-left:5%;
    width:45%;
    padding:20px;
  }
  .desktop-menu{
    margin-left:5%;
  }
  .mobile_search{
    display:none;
  }
  .product-grid {
    grid-template-columns: repeat(6, 1fr);
    gap:1rem;
  }
  .mobile_hidden_details, .hidden-header{
    display: block;
  }
  .cart-header > div{
    width:18%;
  }
  .item > div{
    width:18%;
  }
  .shipping-info > input{
    width:80%
  }
  
}

@media (min-width: 1200px) {
  .logo{
    font-size:20px;
  }
  .search_form{
    margin-left:5%;
    width:52%;
  }
  .search input {
    font-size: 16px;
  }
    /* search page */
    .not-found svg{
      margin-top:1.7rem;
      height:8rem;
      width:8rem;
    }
    .not-found p{
      font-size:1.1rem;
    }
    /** home page **/
    .category-grid{
      grid-template-columns: repeat(7, 1fr);
      gap:0.1rem;
    }
}

