@import url('https://fonts.cdnfonts.com/css/avenir');


:root {
  /* remove colors not being used later*/
  --color-dark: #fa5f44;
  --color-primary: #000000;
  --color-white: #ffffff;
  --color-gray: #3d3d3d;
  --color-light-gray: #969494;
  --color-success: #26bd26;
  --color-success-bg: #d4edda;
  --color-success-border: #26bd26;
  --color-error-bg: #f0a19c;
  --color-error-border: #e71809;
  --color-error: #e71809;
  --color-info-bg: #46A7F5;
  --color-info-border: #0362af;
  --color-warning-bg: #FFA92A;
  --color-warning-border: #c28222;
  --border-radius: 0.5rem;
  --border: 1px solid var(--color-primary);
  --box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
  --box-shadow-hover: 1px 1px 6px 3px rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  font-family: 'Avenir', sans-serif;
}

body {
  line-height: 1.6;
  color: var(--color-primary);
  background-color: var(--color-white);
  min-height: 100vh;
  padding-bottom: 5rem;
  position: relative;
}

h2,
h4 {
  font-weight: bold;
}

a {
  text-decoration: none;
}


img {
  width: 100%;
}

.btn,
.btn-c {
  background-color: var(--color-primary);
  border: none;
  text-decoration: none;
  color: var(--color-white);
  width: 90%;
  border-radius: 1.5rem;
  margin: 5px auto;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  padding: 10px;
}

.btn:hover {
  background-color: var(--color-gray);
  cursor: pointer;
}

svg {
  fill: var(--color-white);
  width: 1.4rem;
  height: 1.4rem;
}
.icon:hover{
  fill: var(--color-warning-bg);
}

.container {
  width: 90%;
  margin: 0 auto;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  margin-top: 1rem;
}

ul,
li {
  list-style: none;
}

header {
  background-color: var(--color-primary);
  color: var(--color-white);
  width: 100%;
  top: 0;
}

 .logo a {
   color: var(--color-white);
   font-size: 30px;
   font-weight: bold;
 }

 .logo a:hover {
   color: var(--color-warning-bg);
 }

.nav {
   width: 90%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 0;
 }

.menu ul {
   padding: 0;
   display: flex;
 }

.menu a {
   margin-left: 20px;
   font-weight: bold;
   font-size: 16px;
   color: var(--color-white);
 }

 .menu a:hover {
   color: var(--color-warning-bg);
 }

 .desktop-search {
   display: none;
 }

 .search-form>label {
   background-color: var(--color-white);
   padding: 0.5rem;
   display: flex;
   align-items: center;
   gap: 1rem;
   border-radius: 1.5rem;
   border: var(--border);
 }

 .search-form svg {
   fill: var(--color-primary);
   width: 1.2rem;
   height: 1.2rem;
   margin-left: 0.5rem;
   vertical-align: middle;
   font-weight: bold;
 }

 .search-form input {
   width: 100%;
   background: transparent;
   border: none;
   outline: none;
   color: var(--color-primary);
   font-size: 16px;
 }

 .mobile-search {
   width: 90%;
   margin: 0.5rem auto;
 }

 .dropdown {
   position: relative;
   display: inline-block;
 }

 .dropdown-button {
   background: transparent;
   color: var(--color-white);
   border: 0;
   outline: 0;
   cursor: pointer;
   position: relative;
   display: inline-block;
 }

 .dropdown svg {
   display: inline-block;
   vertical-align: middle;
   width: 1rem;
   height: 1rem;
 }

 .dropdown-button p:hover svg {
   fill: var(--color-warning-bg);
 }

 .dropdown-button p:hover {
   color: var(--color-warning-bg);
 }

 .dropdown-content {
   margin-top: 3%;
   display: none;
   position: absolute;
   background: var(--color-warning-bg);
   min-width: 160px;
   overflow: auto;
   box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
   border-radius: var(--border-radius);
   right: 0;
   z-index: 1;
 }

 .dropdown-content svg{
  margin-right: 10px;
 }

 .dropdown-content.show {
   display: block;
 }

 .dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   margin-left: 0;
 }

 .dropdown-content svg {
   fill: var(--color-primary);
 }

 .dropdown a:hover svg {
   fill: var(--color-white);
 }

 .dropdown a:hover {
   background-color: var(--color-gray);
   color: var(--color-white);
 }

/* index page */

.single-category-grid {
  display: none;
}

.single-product-grid {
  padding: 0.5rem;
  border-radius: var(--border-radius);
  color: var(--color-primary);
  box-shadow: var(--box-shadow);
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
  margin-top: 0.4rem;
  align-content: start;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  text-align: center;
  overflow: hidden;
  height: 100%;
}
.product-image{
  max-width: 100%;
  height: auto;
}
.product-title-price{
  padding: 10px;
  text-align: center;
}

.product h2 {
  font-weight: normal;
  color: var(--color-primary);
  font-size: 14px;
  overflow-wrap: normal;
}

.product h4 {
  color: var(--color-primary);
  font-weight: bold;
}

.product-image img {
  padding: 0.2rem;
  border-radius: var(--border-radius);
}

.product:hover {
  box-shadow: var(--box-shadow-hover);
}

.product>button {
  width: 70%;
  margin: 5px auto;
  padding: 0;
}

 .pagination {
   text-align: center;
   font-size: 12px;
 }

 .step-links {
   display: inline-block;
   padding: 10px;
 }

 .step-links a {
   color: var(--color-primary);
   text-decoration: none;
   padding: 5px 10px;
   border: var(--border);
   margin: 0 5px;
   border-radius: var(--border-radius);
 }

 .current {
   display: inline-block;
   padding: 5px 10px;
   background-color:var(--color-primary);
   color: var(--color-white);
   border-radius: var(--border-radius);
 }

 .current a {
   color: var(--color-white);
 }

 .step-links a:hover {
   background-color: var(--color-primary);
   color: var(--color-white);
 }

/* product  detail page */

.product-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  padding: 0.5rem;
  box-shadow: var(--box-shadow);
}

.product-image>img {
  width: 100%;
  padding: 0.2rem;
  border-radius: var(--border-radius);
}

.product-information {
  padding: 1rem;
  border-radius: var(--border-radius);
  font-size: 14px;
  height: fit-content;
}

.product-information p {
  font-size: 14px;
  padding: 0.2rem;
}

.price {
  padding-left: 0;
  font-weight: bold;
  font-size: 18px;
}

.btn-center {
  text-align: center;
}

.action-buttons>a {
  display: block;
  margin-top: 1rem;
  font-size: 12px;
}

.action-buttons>.btn {
  width: 55%;
}

.action-buttons {
  margin: 1rem 0;
}

/* slideshow */
.slideshow-container {
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.mySlides>img {
  border-radius: var(--border-radius);
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--color-primary);
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(75, 72, 72, 0.8);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.grid-margin {
  margin-top: 1rem;
}

/* product detail product options */
.variant-options {
  display: table;
  border-spacing: 5px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked+.color-label {
  border: 1px solid #000000;
  border-radius: 50%;
}

input[type="radio"]:checked+.size-label {
  background-color: black;
  color: #ffffff;
  border-radius: 50%;
}

.color-label {
  display: table-cell;
  vertical-align: middle;
  height: 35px;
  width: 35px;
  transition: all .3s ease-out;
  border: 1px solid #000000;
}

.size-label {
  display: table-cell;
  vertical-align: middle;
  height: 35px;
  width: 35px;
  transition: all .3s ease-out;
  color: #000000;
  border: 1px solid #000000;
  text-align: center;
  font-weight: bold;
}

/* customer profile page */

.profile-dashboard {
  display: flex;
  flex-direction: column;
}

.account-links {
  padding: 10px;
  box-shadow: var(--box-shadow-hover);
  border-radius: var(--border-radius);
}

.account-links a {
  display: block;
  padding: 5px;
  margin-top: 0.5rem;
  background-color: var(--color-light-gray);
  color: var(--color-white);
}

.account-links a:visited {
  color: var(--color-white);
}

.account-links a:hover {
  color: var(--color-white);
  background-color: var(--color-gray);
}


.account-overview {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  box-shadow: var(--box-shadow-hover);
  border-radius: var(--border-radius);
  padding: 10px;
}

.account-overview li {
  padding: 5px;
  display: block;
  margin: 0.5rem 0;
  font-weight: bold;
}

.account-overview label {
  display: block;
  margin-top: 0.5rem;
  padding-left: 5px;
  background-color: var(--color-gray);
  color: var(--color-white);
  width: 100%;

}

.personal-information {
  flex-basis: 50%;
  border-radius: var(--border-radius);
  padding: 5px;
  box-shadow: var(--box-shadow);
}

.address {
  flex-basis: 50%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 5px;
  margin-top: 0.5rem;
}

.best-sellers {
  margin-top: 0.5rem;
  padding: 5px;
  box-shadow: var(--box-shadow-hover);
  border-radius: var(--border-radius);
}

.address-form {
  padding: 10px;
}

.address-form-container {
  margin-top: 0.3em;
}

.address_form label {
  background-color: var(--color-white);
  color: var(--color-primary);
}

#address-btn {
  width: 30%;
}

#id_region,
#id_area {
  margin-bottom: 0.5rem;
  padding: 0.3rem;
  width: 100%;
}

.header {
  text-align: center;
  padding: 0.5rem;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.account-overview-header {
  padding: 0px;
  margin-bottom: 1.5rem;
  background-color: var(--color-white);
  color: var(--color-primary);
}

.fieldWrapper input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.3rem;
  border-radius: var(--border-radius);
  border: var(--border);
}

.address-on-file,
.set-new-address {
  display: none;
}

.address-on-file.show,
.set-new-address.show {
  display: block;
}

.strong {
  float: right;
}

/* cart page */

.cart-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.cart-header {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  justify-content: space-between;
  font-weight: bold;
  border-bottom: 1px solid var(--color-gray);
}

.cart-header>div {
  width: 23%;
  text-align: center;
}

.cart-items {
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
  padding: 0.5rem;
  box-shadow: var(--box-shadow);
}

.item {
  margin-top: 0.1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.item>div {
  width: 23%;

}

.mobile_hidden_details {
  display: none;
}

.cart-item-image>img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: var(--border-radius);
}

.cart-summary {
  padding: 0.5rem;
  border-radius: var(--border-radius);
  text-align: center;
  font-size: 14px;
  height: fit-content;
  box-shadow: var(--box-shadow);
}

.cart-summary h1 {
  margin-bottom: 0.5rem;
}

.cart-summary p {
  margin-bottom: 0.5rem;
  text-align: justify;
}

.remove-from-cart {
  padding: 0.2rem;
  font-size: 14px;
  width: 30%;
  background-color: var(--color-primary);
}

.remove-from-cart svg {
  height: 0.6rem;
  width: 0.6rem;
  fill: var(--color-white);
}

.increase-decrease-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.increase-items,
.reduce-items,
.item-quantity {
  padding: 0.1rem;
  width: 50%;
}

.item-quantity {
  background: none;
  border: none;
}

.increase-items:hover,
.reduce-items:hover {
  box-shadow: var(--box-shadow-hover);
}

.increase-items {
  background-color: var(--color-success);
  border: none;
  border-radius: 1.5rem;
}

.reduce-items {
  background-color: var(--color-warning-bg);
  border: none;
  border-radius: 1.5rem;
}

.selected-color {
  display: inline;
  margin-left: 50px;
  padding: 5px;
}

/* checkout page */
.checkout-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 14px;
}

.small {
  text-align: center;
  display: block;
}

.info-wrapper,
.order-summary-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  padding: 1rem;
}

.item-holder {
  display: none;
}

.personal-info,
.shipping-info {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.label-radio {
  padding: 5px;
  display: block;
}

.label-radio>input[type="radio"] {
  display: inline-block;
  vertical-align: middle;
  width: 10%;
  margin-bottom: 0;
}

.label-radio>label {
  display: inline-block;
  vertical-align: middle;
}

.shipping-or-pickup {
  margin-bottom: 0.5rem;
}

.shipping-or-pickup p {
  text-align: center;
}

.shipping-info,
.pickup-info {
  display: none;
}

.pickup-info.show {
  display: block;
  padding: 0.5rem;
}

.shipping-info.show {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.name-inputs,
.email-mobile-inputs {
  width: 100%;
  display: block;
  margin-bottom: 0.2rem;
}

.checkout-form input {
  padding: 0.5rem;
  width: 100%;
  border-radius: var(--border-radius);
  border: var(--border);
  margin-bottom: 0.5rem;
}

.checkout-form label {
  font-weight: bold;
}

.checkout-form .address {
  margin-bottom: 1rem;
}

input[type=text]:disabled {
  color: var(--color-dark);
  font-weight: bold;
}

input[type=email]:disabled {
  color: var(--color-dark);
  font-weight: bold;
}

input[type=radio] {
  accent-color: var(--color-dark);
}

.mpesa_banner {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1rem;
}

.mpesa_banner>img {
  width: 30%;
}

.standout {
  color: var(--color-dark);
  font-weight: bold;
  margin: 0.5rem;
}

.payment-method p {
  margin: 0.5rem;
  text-align: center;
}

.pay {
  background-color: var(--color-dark);
  width: 80%;
}

.p-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.continue {
  margin-top: 1rem;
  width: 60%;
}

.payment-method-wrapper {
  display: none;
}

.hidden {
  display: none;
}

.sub_total_n_shipping {
  padding: 0.5rem;
  font-size: larger;
}

.change-address {
  margin: 0.5rem;
  text-align: right;
  color: var(--color-dark);
}

.logged-in-user li,
.pickup-info li {
  font-weight: bold;
}

/* notfication messages */

.messages,
.anon-messages {
  width: 80%;
  text-align: center;
  font-size: 14px;
  position: fixed;
  z-index: 1;
  left: 10%;
  bottom: 70px;
}

.messages .success {
  background-color: var(--color-success-bg);
  border: 2px solid var(--color-success-border);
  list-style: none;
  padding: 0.5rem;
  border-radius: var(--border-radius);
}

.messages .error {
  background-color: var(--color-error-bg);
  border: 2px solid var(--color-error-border);
  border-radius: var(--border-radius);
  list-style: none;
  padding: 0.5rem;
}

.messages .info {
  background-color: var(--color-info-bg);
  border: 2px solid var(--color-info-border);
  border-radius: var(--border-radius);
  list-style: none;
  padding: 0.5rem;
}

.messages .warning {
  background-color: var(--color-warning-bg);
  border: 2px solid var(--color-warning-border);
  border-radius: var(--border-radius);
  list-style: none;
  padding: 0.5rem;
}

/* messages for anonymous user initiated by js*/

.anon-messages {
  display: block;
}

.anon-messages.success {
  background-color: var(--color-success-bg);
  border: 2px solid var(--color-success-border);
  padding: 0.5rem;
  border-radius: var(--border-radius);
  display: block;
}

.anon-messages.error {
  background-color: var(--color-error-bg);
  border: 2px solid var(--color-error-border);
  border-radius: var(--border-radius);
  display: block;
  padding: 0.5rem;
}

.anon-messages.info {
  background-color: var(--color-info-bg);
  border: 2px solid var(--color-info-border);
  border-radius: var(--border-radius);
  list-style: none;
  padding: 0.5rem;
}

/* search page */

.not-found {
  display: block;
  padding: 0.5rem;
}

.not-found p,
.not-found h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.not-found svg {
  margin-top: 1.5rem;
  fill: var(--color-primary);
  height: 6rem;
  width: 6rem;
}

.search-btn {
  width: 100%;
  color: var(--color-white);
  padding: 0.5rem;
}

/* signin page */

.signin-wrapper,
.password-reset-wrapper,
.new-password-wrapper {
  border: none;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-wrapper {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form_container {
  max-width: 100%;
  width: 400px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

.form_header {
  text-align: center;
  padding: 1rem;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.auth_form {
  padding: 2rem;
}

.auth_form>input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 100%;
  border-radius: var(--border-radius);
  border: var(--border);
}

.auth_form>.btn {
  margin-top: 0.3rem;
  width: 100%;
}

.auth_action {
  text-align: center;
  margin-bottom: 1.5rem;
}

.auth_action p {
  margin-bottom: 10px;
}

.auth_action a {
  color: var(--color-dark);
}

.auth_action a:hover {
  color: var(--color-gray);
}

/* cart badge */
.cart::after {
  content: attr(data-item);
  background-color: var(--color-error);
  border-radius: 50%;
  padding:0 5px;
  width: 16px;
  height: 16px;
  position: relative;
  left: -25px;
  top: -15px;
  color: var(--color-white);
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  font-weight: 400;
}

/* footer styling   */

footer {
  background-color: var(--color-primary);
  color: var(--color-white);
  height: 4rem;
  padding: 0.6rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

footer a {
  color: var(--color-warning-bg)
}

footer a:hover {
  color: var(--color-gray);
}

footer svg {
  fill: var(--color-white);
}

/* form validations */

.error-span {
  display: none;
  border: 1px solid var(--color-error);
  font-size: 12px;
  color: var(--color-error);
  padding: 4px;
  margin: 5px auto;
  border-radius: var(--border-radius);
}

.error-span.show {
  display: block;
}

.check-email>*,
.verification-sucess>*,
.verification-failed>* {
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.check-email h2,
.verification-failed h2,
.verification-sucess h2 {
  font-size: larger;
}

.message-holder {
  margin-top: 20%;
}


/* button state */

.submitting::after {
  display: inline-flex;
  content: '';
  height: 15px;
  width: 15px;
  vertical-align: middle;
  border: 2px solid transparent;
  border-top-color: var(--color-white);
  border-radius: 50%;
  animation: submitting-spinner 1s infinite linear;
}

@keyframes submitting-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@media (min-width: 480px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .search-form input {
    font-size: 14px;
  }
/* 
  .product {
    height: auto; 
  } */

  .product h2 {
    font-size: 14px;
  }

  .product>img {
    max-width: 100%;
    padding: 0.25rem;
  }

  .action-buttons>.btn {
    width: 50%;
  }

  /* product details page */

  .product-information>button {
    width: 55%;
  }

  /* cart page */

  .cart-items>.btn {
    width: 45%;
  }

  .cart-summary>a {
    width: 45%;
  }

  /* checkout page */
  .name-inputs>label,
  .email-mobile-inputs>label {
    width: 100%;
    display: block;
  }

  .checkout-form input {
    width: 100%;
  }

  .pay {
    width: 60%;
  }

}

@media (min-width: 768px) {

  /* navigation */

  .desktop-search{
    display: block;
    width: 58%;
  }

  .mobile-search{
    display: none;
  }

  .messages,
  .anon-messages {
    margin: 0.5rem auto;
    width: 90%;
    text-align: center;
    font-size: 14px;
    position: unset;
  }

  /* home page */

  .single-category-grid {
    display: block;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin-bottom: 0.5rem;
  }

  .category-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 0.5rem;
  }

  .category {
    border-radius: 2.5rem;
    box-shadow: var(--box-shadow);
    ;
    overflow: hidden;
    background-color: var(--color-gray);
    text-align: center;
    color: var(--color-white);
    font-weight: normal;
  }

  .product-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  .product:hover,
  .category:hover {
    box-shadow: var(--box-shadow-hover);
  }

  .action-buttons>.btn {
    width: 60%;
  }

  /* product  detail page */

  .product-details {
    display: flex;
    gap: 2%;
    flex-direction: row;
  }

  .product-wrapper {
    flex-basis: 70%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .product-image {
    flex-basis: 60%;
  }

  .product-information {
    flex-basis: 50%;
  }

  .product-information>button {
    width: 100%;
  }

  .images-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  /* search page */

  .not-found svg {
    margin-top: 1.6rem;
    height: 7rem;
    width: 7rem;
  }

  .not-found p {
    font-size: 1.1rem;
  }

  /* customer profile page */

  .profile-dashboard {
    display: flex;
    gap: 1%;
    flex-direction: row;
  }

  .account-links {
    flex-basis: 25%;
  }

  .account-overview {
    flex-basis: 74%;
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin-top: 0rem;
  }

  .best-sellers {
    margin-top: 1.2rem;
  }

  .personal-information {
    padding: 10px;
  }

  .address {
    padding: 10px;
    margin: 0rem;
  }

  /* cart page */

  .cart-wrapper {
    display: flex;
    gap: 2%;
    flex-direction: row;
  }

  .cart-items {
    flex-basis: 73%;
    border-radius: var(--border-radius);
  }

  .cart-item-image>img {
    width: 8rem;
    height: 8rem;
    border-radius: var(--border-radius);
  }

  .increase-items,
  .reduce-items,
  .item-quantity {
    width: 30%;
  }

  .cart-summary {
    flex-basis: 28%;
  }

  .remove-from-cart {
    padding: 0.3rem;
    width: 13%;
    margin-bottom: 0.5rem;
  }

  .remove-from-cart svg {
    height: 0.8em;
    width: 0.8rem;
  }

  .action-buttons>.continue-btn {
    width: 30%;
    float: right;
  }

  .continue-btn svg {
    height: 1.4rem;
    width: 1.4rem;
    top: 6px;
  }

  /* checkout page */

  .checkout-wrapper {
    flex-direction: row;
  }

  .info-wrapper {
    flex-basis: 50%;
  }

  .order-summary-wrapper {
    display: block;
    flex-basis: 50%;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    padding: 1rem;
    height: fit-content;
  }

  .name-labels,
  .name-inputs,
  .email-labels,
  .email-mobile-inputs {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .checkout-form input {
    width: 100%;
  }

  .checkout-form label {
    width: 100%;
  }

  .name-inputs>label,
  .email-mobile-inputs>label {
    display: none;
  }

  .checkout-form textarea {
    resize: none;
    width: 100%;
    border-radius: var(--border-radius);
    border: var(--border);
    padding: 0.5rem;
  }

  .item-holder {
    margin: 0.5rem 0;
    display: flex;
    gap: 2rem;
    border-bottom: 1px solid var(--color-primary);
  }

  .item {
    flex-basis: 20%;
  }

  .summary-image>img {
    width: 5rem;
    height: 5rem;
    border-radius: var(--border-radius);
  }

  .mobile-product-view {
    display: none;
  }

  .desktop-hidden {
    display: none;
  }

  .shipping-info>input {
    width: 100%
  }
}

@media (min-width:1024px) {

  .desktop-search {
     width: 65%;
   }

  .product-grid {
    gap: 1rem;
  }

  .mobile_hidden_details,
  .hidden-header {
    display: block;
  }

  .cart-header>div {
    width: 18%;
  }

  .item>div {
    width: 18%;
  }

  .shipping-info>input {
    width: 100%
  }

}

@media (min-width: 1200px) {

  .desktop-search {
      width: 70%;
    }

  .search-form input {
    font-size: 16px;
  }

  /* search page */
  .not-found svg {
    margin-top: 1.7rem;
    height: 8rem;
    width: 8rem;
  }

  .not-found p {
    font-size: 1.1rem;
  }

  /** home page **/
  .category-grid {
    grid-template-columns: repeat(7, 1fr);
    gap: 0.1rem;
  }
}