<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
	<meta property="og:site_name" content="Journaling Therapy" />
    <meta property="og:title" content="Journaling Therapy" />
    <meta property="og:description" content="This is an ecommerce website for wellness items, journals, cards, gift items and others" />
    <meta property="og:type"  content="website" />
    <meta property="og:url" content="https://journalingtherapy.co.ke/" />
    <meta property="og:image" content="https://res.cloudinary.com/duagfazh1/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1664970398/Screenshot_2022-10-05_at_14-45-31_Journaling_Therapy_k1axji.png" />
    <meta property="og:image:secure_url" content="https://res.cloudinary.com/duagfazh1/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1664970398/Screenshot_2022-10-05_at_14-45-31_Journaling_Therapy_k1axji.png" />
    <meta property="og:image:width" content="1280" />
    <meta property="og:image:height" content="909" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="https://res.cloudinary.com/duagfazh1/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1664970398/Screenshot_2022-10-05_at_14-45-31_Journaling_Therapy_k1axji.png" />
    <meta name="twitter:site" content="Journaling Therapy" />
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />

    <script type="text/javascript">
      let user = '{{ request.user }}'

	/* get csrf token for use in js forms */
      function getToken(name) {
		    let cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        let cookies = document.cookie.split(';');
		        for (let i = 0; i < cookies.length; i++) {
		            let cookie = cookies[i].trim();
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		let csrftoken = getToken('csrftoken')

		/* get cookie for creating a cart for guest user */
		function getCookie(name) {
				let cookieArr = document.cookie.split(";");
				for(let i = 0; i < cookieArr.length; i++) {
					let cookiePair = cookieArr[i].split("=");
					if(name == cookiePair[0].trim()) {
						return decodeURIComponent(cookiePair[1]);
					}
				}
				return null;
			}
		let cart = JSON.parse(getCookie('cart'))

		if (cart == undefined){
			cart = {}
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
    </script>
    <title>Journaling Therapy</title>
  </head>

  <body>
    {% include 'navbar.html' %}
    
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

	<!-- show messages for the anonymous user from js actions -->
	<div class="anon-messages"></div>
    
    {% block content %}
    {% endblock %}
    <script src="{% static 'js/script.js' %}"></script>
    {% include 'footer.html' %}
  </body>
</html>