<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- add og tags later -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />

    <script type="text/javascript">
      let user = '{{ request.user }}'

	/* get csrf token for use in js forms */
      function getToken(name) {
		    let cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        let cookies = document.cookie.split(';');
		        for (let i = 0; i < cookies.length; i++) {
		            let cookie = cookies[i].trim();
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		let csrftoken = getToken('csrftoken')

		/* get cookie for creating a cart for guest user */
		function getCookie(name) {
				let cookieArr = document.cookie.split(";");
				for(let i = 0; i < cookieArr.length; i++) {
					let cookiePair = cookieArr[i].split("=");
					if(name == cookiePair[0].trim()) {
						return decodeURIComponent(cookiePair[1]);
					}
				}
				return null;
			}
		let cart = JSON.parse(getCookie('cart'))

		if (cart == undefined){
			cart = {}
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
    </script>
    <title>Journaling Therapy</title>
  </head>

  <body>
    {% include 'navbar.html' %}
    
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    {% block content %}
    {% endblock %}
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
