{% extends "admin/change_form.html" %}

{% block  admin_change_form_document_ready %}
{{ block.super }}
    <script type="text/javascript" charset="utf-8">
        const productNameInput = document.querySelector('input[name=name]');
        const productSlugInput = document.querySelector('input[name=slug]');

        const slugify = (val) =>{
            return val.toString().toLowerCase().trim()
            .replace(/&/g, '-and-') // replace & with '-and-'
            .replace(/[\s\W-]+/g,'-') // replace spaces, non word chars and dashes with '-'
        };

        productNameInput.addEventListener('keyup',(e)=>{
        productSlugInput.setAttribute('value', slugify(productNameInput.value));
        })
    </script>
{% endblock %}
