{% extends 'main.html' %}

{% block content %}

{% include 'components/mobile_search.html' %}

    <div class="container">
        <div class="single-category-grid">
            <h4>Our Categories</h4>
            <div class="category-grid">
                {% for category in categories %}
                <a href="{% url 'products:search'  %}?q={{ category.title }}">
                    <div class="category">
                        <h2>{{ category.title }}</h2>
                    </div></a>
                {% endfor %}
            </div>
        </div>
        <div class="single-product-grid">
            <h4>Our Products</h4>
            {% include 'components/products.html' %}
        </div>
{% endblock content %}