{% extends 'main.html' %}

{% load static %}

{% block content %}

{% include 'mobile_search.html' %}
    <div class="container">
        <div class="product-details">
            <div class="product-wrapper">
                <div class="product-image slideshow-container">
                    <!-- Always show the main image -->
                        <div class="mySlides fade">
                            <img src="{{product.main_image.url}}">
                        </div>
                    <!-- Show if there is more than one image -->
                    {% if product.productimage_set.all %}
                        {% for productImage in product.productimage_set.all %}
                            <div class="mySlides fade">
                                <img src="{{productImage.thumb.url}}">
                            </div>
                        {% endfor %}
                        <!-- Next and previous buttons -->
                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                    {% endif %}
                </div>
                <div class="product-information">
                        <h2 id="product-name" data-product_name="{{ product.name.capitalize }}">{{ product.name.capitalize }}</h2>
                        <p>{{ product.description.capitalize }}.</p>
                        <p>Only <strong>({{ product.stock }})</strong> remaining, hurry while stocks last.</p>
                        <p class="price">Kes {{ product.price }}</p>
                        <div class="btn-center">
                            <button data-product={{ product.id }}  data-action="add" class="btn update-cart btn-center">Add to cart</button>
                        </div>
                        
                </div>
            </div>
            <div class="cart-summary">
                <h1>Cart summary</h1>
                <p>You have <strong>{{ cart.get_cart_items }}</strong> items in the cart</p>
                <p>Subtotal = <strong>{{ cart.get_cart_total }}</strong></p>
                <div class="action-buttons">
                    <a href="{% url 'cart:cart' %}" class="btn">View cart</a>
                    <a href="{% url 'products:list' %}" class="btn">Continue shopping</a>
                </div>
                
            </div>
        </div>

        {% if goes_well_with %}
        <div class="single-product-grid grid-margin">
            <h4 style="text-align:center;">Products that go well with this product</h4>
            <div class="product-grid">
                {% for goes_well_product in goes_well_with %}
                    {% if goes_well_product.product_two.available %}
                    <a href="{% url 'products:detail' slug=goes_well_product.product_two.slug %}">
                    <div class="product">
                        <img class="product_image" src="{{goes_well_product.product_two.main_image.url}}">
                        <h2>{{ goes_well_product.product_two.name.capitalize }}</h2>
                        <h4>Kes {{ goes_well_product.product_two.price }}</h4>
                        <button class="btn mobile-product-view">view</button>
                    </div></a>
                    {% endif %}
                 {% endfor %}
             </div>
        </div>
        {% endif %}

        {% if similar_products %}
        <div class="single-product-grid grid-margin">
            <h4 style="text-align:center;">Similar to this product</h4>
            <div class="product-grid">
                {% for similar_product in similar_products %}
                    {% if similar_product.available %}
                    <a href="{% url 'products:detail' slug=similar_product.slug %}">
                    <div class="product">
                        <img class="product_image" src="{{similar_product.main_image.url}}">
                        <h2>{{ similar_product.name.capitalize }}</h2>
                        <h4>Kes {{ similar_product.price }}</h4>
                        <button class="btn mobile-product-view">view</button>
                    </div></a>
                    {% endif %}
                 {% endfor %}
             </div>
        </div>
        {% endif %}
    </div>
    <script src="{% static 'js/page/product_detail.js' %}"></script>
{% endblock content %}